lab04/movies/movies.dtd

<!ELEMENT movies (movie*)>
<!ELEMENT movie (title+, year, genre+, rating, votes)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT year (#PCDATA)>
<!ELEMENT genre (#PCDATA)>
<!ELEMENT rating (#PCDATA)>
<!ELEMENT votes (#PCDATA)>
<!ATTLIST movie
    id CDATA #REQUIRED
    mpa-rating (G | PG | PG-13 | R | NC-17) #IMPLIED
>
<!ATTLIST title xml:lang NMTOKEN #REQUIRED>
